<div id="<%= dom_id quarto %>">
  <p>
    <strong>Numero:</strong>
    <%= quarto.numero %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= quarto.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= quarto.tipo %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= quarto.preco %>
  </p>

</div>
