<h1>Quarto <%= @quarto.numero %></h1>
<p><strong>Descrição:</strong> <%= @quarto.descricao %></p>
<p><strong>Preço por Diária:</strong> <%= @quarto.preco_diaria %></p>

<%= link_to 'Editar', edit_quarto_path(@quarto) %>
<%= link_to 'Voltar', quartos_path %>