<h1>Detalhes do Quarto <%= @resource.numero %></h1>

    <p><strong>Descrição:</strong> <%= @resource.descricao %></p>
    <p><strong>Preço da Diária:</strong> <%= number_to_currency(@resource.preco_diaria) %></p>
    
    <%= link_to 'Editar', edit_quarto_path(@resource) %> |
    <%= link_to 'Voltar', quartos_path %>    