<h1><%= @resource.nome %></h1>

<p><strong>Email:</strong> <%= @resource.email %></p>
<p><strong>Função:</strong> <%= @resource.role %></p>

<%= link_to 'Editar', edit_user_path(@resource) %> |
<%= link_to 'Voltar', users_path %>