<h1>Bem-vindo ao Sistema Pousada</h1>
<p>Utilize os links abaixo para acessar as diferentes funcionalidades:</p>

<ul>
  <li><%= link_to 'Gerenciar Hospedes', hospedes_path %></li>
  <li><%= link_to 'Gerenciar Quartos', quartos_path %></li>
  <li><%= link_to 'Gerenciar Reservas', reservas_path %></li>
  <li><%= link_to 'Gerenciar Funcionarios', funcionarios_path %></li>
  <li><%= link_to 'Gerenciar Usuarios', users_path %></li>
</ul>