<%= form_with(model: hospede, local: true) do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :documento %>
    <%= form.text_field :documento %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Voltar', hospedes_path %>