<h1><%= @hospede.new_record? ? 'Novo H贸spede' : 'Editar H贸spede' %></h1>

<%= form_with model: @hospede, local: true do |form| %>
  <% if @hospede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospede.errors.count, "erro") %> impediram que este h贸spede fosse salvo:</h2>
      <ul>
        <% @hospede.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, required: true %>
  </div>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.telephone_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar H贸spede' %>
  </div>
<% end %>