<h1>Lista de Hóspedes</h1>

<%= link_to 'Voltar para a Home', root_path %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospedes.each do |hospede| %>
      <tr>
        <td><%= hospede.nome %></td>
        <td><%= hospede.documento %></td>
        <td><%= hospede.email %></td>
        <td><%= hospede.telefone %></td>
        <td><%= hospede.endereco %></td>
        <td><%= link_to 'Mostrar', hospede %></td>
        <td><%= link_to 'Editar', edit_hospede_path(hospede) %></td>
        <td><%= link_to 'Remover', confirm_delete_hospede_path(hospede) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Hóspede', new_hospede_path %>