<%= form_with(model: @funcionario, local: true) do |form| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "erro") %> impediram que este funcionário fosse salvo:</h2>
      <ul>
        <% @funcionario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, required: true %>
  </div>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.telephone_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo %>
  </div>

  <div class="field">
    <%= form.label :salario %>
    <%= form.number_field :salario %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar Funcionário' %>
  </div>
<% end %>