<h1><%= @resource.nome %></h1>

<p><strong>Documento:</strong> <%= @resource.documento %></p>
<p><strong>Email:</strong> <%= @resource.email %></p>
<p><strong>Telefone:</strong> <%= @resource.telefone %></p>
<p><strong>Cargo:</strong> <%= @resource.cargo %></p>

<%= link_to 'Editar', edit_funcionario_path(@resource) %> |
<%= link_to 'Voltar', funcionarios_path %>